.material-card {
  max-width: 300px;
  margin: auto;
}
.material-container {
  display: flex;
  flex-direction: column;
}
.material-container > * {
  width: 100%;
}
.mat-card-actions .mat-raised-button {
  margin: 5%;
}
.mat-card-actions {
  align-content: center;
  text-align: center;
}

.alert-danger{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
