<a mat-raised-button color="primary" (click)="openDialogAdd()"><i class="fas fa-pencil-alt"></i> Create task</a>
<pagination-controls (pageChange)="currentPage = $event">
</pagination-controls>
<div class="card-deck">
  <mat-card class="material-card  margin-list-card-app" *ngFor="let task of tasks | paginate: { itemsPerPage: 6, currentPage: currentPage }">
    <mat-card-header>
      <mat-card-title>
        <h2>{{ task.title | uppercase}}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="material-container">
        <li class="listStyle"><i class="fas fa-user"></i> {{ task.userTask}}</li>
        <li class="listStyle"><i class="far fa-calendar-alt"></i> Creada el: {{ task.date | date}}</li>
        <li class="listStyle">Estado: {{ task.state}}</li>
        <br />
        <p>{{ task.description }}</p>
      </div>
      <mat-card-actions>
        <button type="submit" mat-mini-fab color="warn"><i class="far fa-trash-alt"></i></button>
        <button type="submit" mat-mini-fab color="primary"><i class="fas fa-edit"></i></button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
<pagination-controls (pageChange)="currentPage = $event"></pagination-controls>