.card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.listStyle {
  list-style: none;
}

mat-spinner {
  margin: auto;
}

.description {
  text-align: justify;
  word-wrap: break-word;
}

.material-card {
  min-width: 300px;
  max-width: 300px;
}

.material-container {
  display: flex;
  flex-direction: column;
}

.material-container > * {
  width: 100%;
}

.margin-list-card-app {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  margin-left: 5px;
  margin-right: 5px;
}

.mat-card-actions .mat-mini-fab {
  margin-left: 2%;
}

.card-deck-responsive {  
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (min-width: 720px) {
  .card-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;    
  }
}
