<mat-spinner *ngIf="showSpinner"></mat-spinner>

<mat-card class="material-card" *ngIf="!showSpinner">
  <mat-card-header>
    <mat-card-title>
      <h2>Crea tu cuenta de AppTasks</h2>
    </mat-card-title>
    <mat-card-subtitle>usuarios no registrados</mat-card-subtitle>
  </mat-card-header>
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <mat-card-content>
      <div class="alert-danger" *ngIf="user.password != user.confirmPassword">
        <p>Contraseñas no coinciden</p>
      </div>
      <div class="material-container">
        <mat-form-field>
          <input [(ngModel)]="user.displayName" type="text" name="displayName" matInput placeholder="Nombre y Apellidos" minlength="3" maxlength="30" required>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="user.email" type="email" name="email" matInput placeholder="Correo electrónico" required>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="user.password" type="password" name="password" matInput placeholder="Contraseña" required minlength="8">
        </mat-form-field>        
        <mat-form-field>
          <input [(ngModel)]="user.confirmPassword" type="password" name="confirmPassword" matInput placeholder="Confirmar contraseña" required minlength="8">
        </mat-form-field>
        <small>
          Usa 8 o más caracteres con una combinación de letras, números y símbolos
        </small>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!signupForm.valid" type="submit" mat-raised-button color="primary">Siguiente</button>
      <a mat-button [routerLink]="['/home/signin']" color="primary">Acceder a la cuenta</a>
    </mat-card-actions>
  </form>
</mat-card>