<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>      
      <i id="icon" class="fas fa-address-card"></i>
      <a mat-list-item ><strong>{{ user.displayName | uppercase }}</strong></a>
      <a mat-list-item [routerLink]="['/profile/pending-tasks']" (click)="drawer.toggle();">Tareas pendientes</a>
      <a mat-list-item [routerLink]="['/profile/consolidated-tasks']" (click)="drawer.toggle();">Consolidado de tareas</a>
      <a mat-list-item [routerLink]="['/profile/about-application']" (click)="drawer.toggle();">Acerca de la aplicación</a>
      <a mat-list-item href="#" (click)="closeAcount($event)">Cancelar cuenta</a>
      <a mat-list-item href="#" (click)="logout($event)">Cerrar sesión</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>AppTasks</span>
    </mat-toolbar>
    <!-- Add Content Here -->    
    <div class="container-app pt-5-app pb-5-app">      
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>