#icon {
  color: #3f51b5;
  display: block;
  font-size: 50px;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.container-app {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.pt-5-app {
  padding-top: 3rem !important;
}

.pb-5-app {
  padding-bottom: 3rem !important;
}

mat-toolbar {
  z-index: 3;
}

@media (min-width: 900px) {
  .container-app {
    max-width: 900px;
  }
}
