<mat-card class="material-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Sign In to AppTasks</h2>
    </mat-card-title>
    <mat-card-subtitle>users registered</mat-card-subtitle>
  </mat-card-header>
  <form action="" method="post">
    <mat-card-content>
      <div class="material-container">
        <mat-form-field>
          <input type="email" matInput placeholder="Email" required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" required>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary">Sign in</button>      
      <a mat-button [routerLink]="['/signup']" color="primary">Create an account</a>
      <small>
          <a mat-button color="accent" [routerLink]="['/request-reset']" >Forgot password?</a>
      </small>
    </mat-card-actions>
  </form>
</mat-card>