.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.container-app {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.pt-5-app {
  padding-top: 3rem !important;
}

@media only screen and (min-width: 768px) {
  .container-app {
    max-width: 720px;
  }
}

@media only screen and (min-width: 576px) {
  .container-app {
    max-width: 540px;
  }
}