<mat-spinner *ngIf="showSpinner"></mat-spinner>

<mat-card class="material-card" *ngIf="!showSpinner">
  <mat-card-header>
    <mat-card-title>
      <h2>Cambio de contraseña</h2>
    </mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="onSubmit()" #responseResetForm="ngForm">
    <mat-card-content>
      <div class="alert-danger" *ngIf="user.password != user.confirmPassword">
        <p>Contraseñas no coinciden</p>
      </div>
      <div class="material-container">
        <mat-form-field>
          <input [(ngModel)]="user.email" type="email" name="email" matInput placeholder="Correo electrónico" required>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="user.password" type="password" name="password" matInput placeholder="Nueva contraseña" required minlength="8">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="user.confirmPassword" type="password" name="confirmPassword" matInput placeholder="Confirmar contraseña"
            required minlength="8">
        </mat-form-field>
      </div>
    </mat-card-content>
    <small>
      Usa 8 o más caracteres con una combinación de letras, números y símbolos
    </small>
    <mat-card-actions>
      <button [disabled]="!responseResetForm.valid" type="submit" mat-raised-button color="primary">Cambiar</button>
    </mat-card-actions>
  </form>
</mat-card>