.description {
  text-align: justify;
  word-wrap: break-word;
}

.listStyle {
  list-style: none;
}

.material-container {
  display: flex;
  flex-direction: column;
}

.material-container > * {
  width: 100%;
}

.margin-button-card-actions{
  display: inline-block;  
  margin-left: 30%;
}