<div>
  <h2 mat-dialog-title>Create task</h2>
  <form (ngSubmit)="onSubmit()" #taskPostForm="ngForm">
    <mat-card-content>
      <div class="material-container">
        <mat-form-field>
          <input [(ngModel)]="task.title" name="title" type="text" matInput placeholder="Title task" minlength="3" maxlength="30" required>
        </mat-form-field>

        <mat-radio-group>
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="pendiente" [(ngModel)]="task.state"
            required>
          <label mat-radio-button for="gridRadios1">
            Pendiente
          </label>
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="realizado" [(ngModel)]="task.state"
            required>
          <label class="form-check-label" for="gridRadios2">
            Realizado
          </label>
        </mat-radio-group>

        <mat-form-field>
          <textarea name="description" [(ngModel)]="task.description" matInput placeholder="Write here the description of the task"
            minlength="3" maxlength="300" required></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-dialog-actions>
      <button type="submit" mat-raised-button color="primary">Save</button>
      <a mat-raised-button (click)="onCancelConfirm()">Cancel</a>
    </mat-dialog-actions>
  </form>
</div>