<mat-card class="material-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Sign Up for AppTasks</h2>
    </mat-card-title>
    <mat-card-subtitle>users unregistered</mat-card-subtitle>
  </mat-card-header>
  <form action="" method="post">
    <mat-card-content>
      <div class="material-container">
        <mat-form-field>
          <input type="text" matInput placeholder="Full name" minlength="3" maxlength="30" required>
        </mat-form-field>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" required minlength="8">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm password" required minlength="8">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary">Sign up</button>
      <a mat-button [routerLink]="['/signin']" color="primary">I prefer to log in</a>      
    </mat-card-actions>
  </form>
</mat-card>