<mat-spinner *ngIf="showSpinner"></mat-spinner>

<mat-card class="material-card" *ngIf="!showSpinner">
  <mat-card-header>
    <mat-card-title>
      <h2>Restablecer su contraseña</h2>
    </mat-card-title>
    <mat-card-subtitle>Ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña.</mat-card-subtitle>
  </mat-card-header>
  <form (ngSubmit)="onSubmit()" #requestResetForm="ngForm">
    <mat-card-content>
      <div class="alert-danger" [hidden]="!error">
        {{ error }}
      </div>
      <div class="material-container">
        <mat-form-field>
          <input [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Correo electrónico" required>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!requestResetForm.valid" type="submit" mat-raised-button color="primary">Solicitar restablecimiento</button>
    </mat-card-actions>
  </form>
</mat-card>